.container-galaxias {

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    border-radius: 2%;
    background: linear-gradient(to right, #100e17, #18192c, #100e17);
    box-shadow: 5px 5px 75px rgba(255, 255, 255, 0.177), -5px -5px 75px rgba(255, 255, 255, 0.177);
    padding: 30px 25px 30px 25px;
    margin: 5% auto;
}

.title {
    padding: 10px;
}

.container-galaxias h2 {
    color: #ffffff;
    font-size: 60px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

.container-galaxias h3 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
}

.container-galaxias p {
    color: #ffffff;
}

.content-galaxia img {
    height: 330px;
    width: 48%;
    padding: 15px;
    border-radius: 25px;
    filter: saturate(200%);
}

.content-galaxia {
    margin: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.text {
    margin: 20px 10px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
}

.galaxia-can {
    background: linear-gradient(#8497b6, #676278, #191a21);
}

.galaxia-eliptica {
    background: linear-gradient(#7197b6, #4d6599, #0d121e);
}

.galaxia-magallanes {
    background: linear-gradient(#848474, #595840, #1e1d16);
}

.galaxia-bootes {
    background: linear-gradient(#307d99, #3f6b72, #121f29);
}

.galaxia-magallanespeque {
    background: linear-gradient(#5a7e90, #666c5a, #1a1d16);
}

.intro {
    background-color: #000000;
}