header {

  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: .5;
  transition: all .2s ease-in-out;

  height: min-content;
  width: 100%;


  grid-row: 1;
  background-color: #212529;


  justify-content: space-between;
  align-items: center;

}

header:hover {
  opacity: 1;
}

header nav {

  display: flex;
  gap: 35px;
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);

}

/*------------------------------------------------------------------------*/
/*------------------------- HEADER-TITULO Y LOGO -------------------------*/
/*------------------------------------------------------------------------*/

.container-title-logo {
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  left: 10px;
  width: 80px;
  height: 80px;
  margin: 10px 25px 10px 10px;
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
}

h1 {
  font-size: 50px;
  color: white;
}


/*--------------------------------------------------------*/
/*------------------------- CARD -------------------------*/
/*--------------------------------------------------------*/

.container-card {

  display: flex;
  position: relative;
  align-items: center;
  height: 50px;
  width: 100px;
}

.card, .card-header {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  /*hace que mantengan la posicion en el espacio tridimensional */
  transform-origin: center right;
  /* define para que direccion sale el texto despues de la animacion */
  transition: transform 1s;
  justify-content: center;
  align-items: center;
  perspective: 600px;
}

header .card-header img {
  width: 40px;
  height: 40px;
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
}

.front-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 2vw;
  font-weight: bolder;
  margin-top: 20px;

  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card:hover {
  transform: translateX(-100%) rotateY(-180deg);
}

.user-setting {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
  color: white;
  font-size: 1.2rem;
}

header button {
  background: #d84141;
  border: none;
  border-radius: 25px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
header button:hover {
  background: #ff5252;
}