.content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;

    border-radius: 2%;
    background: linear-gradient(to right, #100e17, #18192c, #100e17);
    box-shadow: 5px 5px 75px rgba(255, 255, 255, 0.177), -5px -5px 75px rgba(255, 255, 255, 0.177);
    padding: 30px 25px 30px 25px;
    grid-row: 2;
    margin: 10% 0% 10% 0%;
}

.content a {
    text-decoration: none;
}

.content a h2 {
    font-size: 180%;
    font-weight: bold;
}

.content a p {
    font-size: 110%;
    font-weight: bold;
}

/*--------------------------------------------------------------------------------------*/

.cont {
    width: 50%;
    height: 30vh;

    align-content: center;

    background-color: #000000;
    background-position: 45% 45%;
    background-size: cover;

    transition: all .5s ease-in-out;

    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px #000000, -2px -2px 10px #000000;

}

.cont h2 {
    margin: 2.5% 5% 5% 5%;
    padding-bottom: 0.5%;
    border-bottom: 5px double white;
}

.cont:hover {
    background-position: 5% 5%;
}

/*--------------------------------------------------------------------------------------*/

.half {
    width: 25%;
    height: 30vh;

    align-content: center;

    background-color: #000000;
    background-position: 20% 10%;
    background-size: cover;

    transition: all .5s ease-in-out;

    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px #000000, -2px -2px 10px #000000;

}

.half h2 {
    margin: 5% 10% 10% 10%;
    padding-bottom: 1%;
    border-bottom: 5px double white;
}

.half:hover {
    background-position: 40% 80%;
}

/*--------------------------------------------------------------------------------------*/

.servicios {
    background-image: url("src/assets/section/bg_space.jpg");
}

/*--------------------------------------------------------------------------------------*/

.recorridos {
    background-image: url("src/assets/section/recorridos2.jpeg");
    background-color: #00000025;
    background-blend-mode: darken;
}

/*--------------------------------------------------------------------------------------*/

.horarios {
    background-image: url("src/assets/section/horarios.jpg");
}

/*--------------------------------------------------------------------------------------*/

.ubicacion {
    background-image: url("src/assets/section/ubicacion.jpg");
}

/*--------------------------------------------------------------------------------------*/

.galaxias {
    background-image: url("src/assets/section/GalaxiasVecinas.jpeg");
}

/*--------------------------------------------------------------------------------------*/

.educacion {
    background-image: url("src/assets/section/system_solar.jpg");
    background-color: #00000050;
    background-blend-mode: darken;
}

/*--------------------------------------------------------------------------------------*/

.productos {
    background-image: url("src/assets/section/productos.jpg");
}

/*--------------------------------------------------------------------------------------*/

.novedades {
    background-image: url("src/assets/section/novedades.jpg");
}