.form {
    background: #00000022;
    padding: 40px 35px;
    width: 100%;
    max-width: 420px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(220, 219, 219, 0.12);
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 2%;
}

.title {
    text-align: center;
    font-size: 2rem;
    color: #c4bcbc;
}
.form label {
    font-weight: 600;
    color: #c4bcbc;
    font-size: 0.95rem;
}

.form input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cfd4da;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

.form input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 15px rgba(74, 145, 226, 0.504);
    outline: none;
}

.submit {
    margin-top: 15px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    background: #1261bb;
    color: white;
    font-size: 1rem;
    transition: 0.2s;
}

.submit:hover {
    background: #3a78c0;
}

.form-switch {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}

.form-switch a {
    color: #4a90e2;
    font-weight: 600;
    text-decoration: none;
}

.form-switch a:hover {
    text-decoration: underline;
}
@media (max-width: 480px) {
    .form {
        padding: 30px 25px;
    }

    .title {
        font-size: 1.7rem;
    }
}