.container-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-nosotros {
    
    display: flex;

    width: 100%;
    height: 600px;
    background: url("../assets/bg_nosotros.png");

    margin-bottom: 5%;
}

.content {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50vw;

    padding: 10px 40px;

    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
}

.content:hover {
    background-color: rgba(0, 0, 0, .8);
}

.content h2 {

    color: white;
    margin: 10px 0px;
    font-size: 30px;
}

.content h3 {

    margin: 10px 0px;
    color: white;
}

.content p {
    color: white;
}

.content ul {
    color: white;
    margin: 10px 0px;
    list-style-type: upper-roman;
}