.productos-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-product {
    width: 80%;

    place-items: center;

    border-radius: 2%;
    background: linear-gradient(to right, #100e17, #18192c, #100e17);
    /*
    box-shadow: 5px 5px 75px rgba(255, 255, 255, 0.177), -5px -5px 75px rgba(255, 255, 255, 0.177);
    */
    margin: 10% 0%;
    padding: 2%;

    grid-row: 2;
}

.container-product h2 {
    width: 80%;

    font: bold xx-large sans-serif;

    text-align: center;
    color: #ffffff;

    border-bottom: 10px solid #d0d5da;

    padding: 10px;
    margin-bottom: 50px;

    grid-row: 1;
}

.container-product .container-card {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;

    gap: 10px;

    grid-row: auto;

}

.container-product .container-card .card {
    width: 20%;
    min-width: 20%;
    height: 300px;
    margin: 2%;

    border: 2px solid #ffffff;
}

.container-product .container-card .card .front-face img {
    width: 70%;
    height: 40%;

    margin-left: 15%;
    margin-bottom: 10%;
}

.container-product .container-card .card .front-face .nombre {
    width: 80%;
    height: 40%;

    margin-left: 10%;
    margin-bottom: 10%;

    background-color: #212529;
}

.container-product .container-card .card .back-face p {
    width: 80%;
    height: 70%;


    margin-left: 10%;
    margin-bottom: 10%;


    text-wrap: wrap;
}