.productos-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-product {
    width: 80%;

    place-items: center;

    border-radius: 2%;
    background: linear-gradient(to right, #100e17, #18192c, #100e17);
    /*
    box-shadow: 5px 5px 75px rgba(255, 255, 255, 0.177), -5px -5px 75px rgba(255, 255, 255, 0.177);
    */
    margin: 10% 0%;
    padding: 2%;

    grid-row: 2;
}

.container-product h2 {
    width: 100%;

    font: bold xx-large sans-serif;

    text-align: center;
    color: #ffffff;

    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(18, 97, 187, 0.12);

    padding: 10px;
    margin-bottom: 50px;

    grid-row: 1;
}

.container-product .container-card {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;

    gap: 10px;

    grid-row: auto;

} 

.container-product .container-card .card {
    width: 20%;
    min-width: 20%;
    height: 300px;
    margin: 2%;

    border-radius: 25px;
}

.container-product .container-card .card .front-face img {
    width: 70%;
    height: 40%;

    margin-left: 15%;
    margin-bottom: 10%;
    padding: 10px;
    border-radius: 25px;
}

.container-product .container-card .card .front-face .nombre {
    width: 50%;
    height: 15%;

    border-radius: 25px;
    text-align: center;
    align-content: center;

    margin-left: 25%;
    margin-bottom: 10%;

    background-color: #2f88e079;
}

.container-product .container-card .card .back-face {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.container-product .container-card .card .back-face p {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-bottom: 10%;
    text-wrap: wrap;
    font-size: 14px;
}

.container-product button {
    width: 50%;
    height: 15%;
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 25px;
    text-align: center;
    align-content: center;

    background-color: #1261bb;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.container-product button:hover {
    background-color: #3a78c0;
}


.price {
    width: 50%;
    height: 15%;

    border-radius: 25px;
    text-align: center;
    align-content: center;

    margin-left: 25%;
    margin-bottom: 10%;

    background-color: #07437e79;
}

.price:before {
    content: "Precio: $";
    font-weight: bold;
    color: #ffffff;
}

.container-product .container-card .front-face {
    box-shadow: 0 8px 25px rgba(18, 97, 187, 0.427);
    border-radius: 25px;
    padding-right: 15px;
}
.container-product .container-card .back-face {
    box-shadow: 0 8px 25px rgba(187, 32, 18, 0.427);
    border-radius: 25px;
}