.flex-vertical {
    display: flex;
    flex-direction: column;
}

.form {
    width: 50%;
    gap: 5px;
}

.form button {
    justify-content: center;
    width: 20%;
}

.form div {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.form h1 {
    text-align: center;
}

.form button {
    margin: 0 auto;
}

.container-form {
    display: flex;
    justify-content: center;
}

.container-form label,
p {
    color: white;
}

.container-cart {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.cart {
    display: flex;
    gap: 10px;
}

.cart h1 {
    margin: 50px;
}

.cart * {
    color: white;
}